# .app file location based on the scheme you are trying to use. No `/` in the end
app_location=~/Library/Developer/Xcode/DerivedData/MultipleSimulatorsBuild-*/Build/Products/Debug-iphonesimulator

# the bundle id based on the scheme you are trying to use
bundle_id=com.rlmg.multiplesimulatorsbuild.MultipleSimulatorsBuild

# list of simulators separated by comma. No spaces allowed between device ids.
simulators_list=9EF8A0B3-2BE3-43D2-8618-0CCF20A559D4,0EDC919C-177E-48CE-920D-EE5E1F1CB880,A5EFC34F-382E-42E2-9005-32F2E0B3EE21
